<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="Enviroment" value="PROD"/>
    <add key ="Enviroment" value="QA"/>
    <add key="Browser" value="Chrome"/>

    <add key="Booking.PROD" value="https://www.onetravel.com/"/>
    <add key="Booking.QA" value="https://www.onetravel.com/"/>
  </appSettings>

</configuration>
